.games {
    margin: 20px 10px;
    margin-left: 50px;
}
.games>h1 {
    color: white;
    font-family: 'Qiucksand', sans-serif;
    margin-bottom: 20px;
}
.line button {
    background-color: #242424;
    color: white;
    border: 1px solid #8A8A8A;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.line button:hover {
    background-color: #A100ED; 
    border: 1px solid #A100ED;
}
.blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    right: 15px;
}
.block {
    border: 1px solid #323232;
    border-radius: 20px;
    background-color: #323232;
    padding: 20px 30px;
    margin: 10px 10px;
    width: calc(100%/5.5 - 20px);
    text-align: center;
    min-width: 135px;
}
.block>* {
    margin: 10px 0;
}
.block>p {
    color: #8A8A8A;
    font-size: 12px;
    margin-bottom: 15px;
}
.block>h3 {
    color: #DA00FE;
    font-weight: 100;
    margin-bottom: 17px;
}
.block img {
    margin-top: 0px;
    width: 65%;
    height: 42%;
}
.block h2, .button {
    font-family: 'Qiucksand', sans-serif;
    font-weight: lighter;
    color: white;
}
.block h2 {
    font-size: 20px;
}
.button {
    font-size: 12px;
    transition: 0.5s;
}
.button:hover {
    color: #DA00FE;
}
.index {
    background-color: #A100ED;
    border: 1px solid #A100ED;
}
