@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
}
p {
    font-family: 'Quicksand', sans-serif;
}
a {
    text-decoration: none;
}
html {
    background-image: url("../img/fon.jpg");
}
body {
    background-color: #242424;
    margin-left: auto;
    margin-right: auto;
    width: 52vw;
}
header, footer {
    background-color: #2D2D2D;
}
header>* {
    display: inline-block
}
header>div {
    width: 10%;
}
header>nav>a {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    bottom: 17px;
    font-size: 18px;
    margin: 1px 5px;
    margin-bottom: 20px;
    color: white;
    border: 1px solid #8A8A8A;
    border-radius: 20px;
    padding: 5px 40px;
    transition: 0.5s;
}
header>nav>a:hover {
    background-color: #A100ED;
    border: 1px solid #A100ED;
}
header img {
    margin: 2px 2px;
}
header {
    padding: 10px;
}
main a {
    text-decoration: none;
}
footer {
    text-align: center;
    padding: 20px 0;
}
footer>p, footer>a {
    color: white;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
footer p:hover, footer a:hover{
    color: #A100ED;
}
.special-p {
    font-size: 16px;
    margin: 5px 0;
}
.welcome {
    border: 1px solid none;
    border-radius: 20px;
    background-color: #A100ED;
    width: 46vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px;
    position: relative;
    left: 3px;
    display: flex;
}
.welcome img {
    width: 20%;
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
}
.welcome p {
    font-family: 'Prociono', sans-serif;
    font-size: 23px;
    margin: 30px 0px;
    width: 90%;
    color: white;
}
@media (min-width: 320px) and (max-width: 700px) {
    body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .welcome {
        width: 80vw;
        flex-direction: row;
        align-items: center;
        padding: 10px 10px;
        text-align: left;
    }
    .welcome img {
        width: 40%;
        height: 40%;
    }
    .welcome p {
        font-size: 15px;
    }
}
